newsletter_automation_workflow.json
{
  "name": "JC Savoy Newsletter - DIRECT TEST",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        100,
        200
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "newsletterUrl",
              "value": "https://raw.githubusercontent.com/jcsavoy/JC-Savoy-Newsletter/main/newsletter-april-2026.html"
            },
            {
              "name": "emailSubject",
              "value": "DIRECT TEST - JC Savoy Newsletter"
            },
            {
              "name": "testEmail",
              "value": "velladayauthor@gmail.com"
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Settings",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        300,
        200
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.newsletterUrl }}",
        "options": {}
      },
      "id": "3",
      "name": "Fetch HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        500,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const html = $json.data;\nconst baseUrl = 'https://n8n.srv1257557.hstgr.cloud/webhook';\n\nconst email = $json.email || \n              ($node[\"Get row(s) in sheet\"] ? $node[\"Get row(s) in sheet\"].json[\"Subscriber email\"] : \"\") || \n              ($node[\"Settings\"] ? $node[\"Settings\"].json.testEmail : \"\");\n\nlet finalHtml = html;\n\n// 1. HERO IMAGE TRACKING\nconst openUrl = `${baseUrl}/open-tracking?email=${encodeURIComponent(email)}`;\nconst headerImageUrl = \"https://raw.githubusercontent.com/jcsavoy/JC-Savoy-Newsletter/main/header-april-2026.png\";\nif (finalHtml.includes(headerImageUrl)) {\n  finalHtml = finalHtml.split(headerImageUrl).join(openUrl);\n}\n\n// 2. GAZETTE & JOKE BUTTONS (Anchor replacement)\nconst feedbackTracking = [\n  { anchor: '#gazette-up', section: 'Gazette', vote: 'up' },\n  { anchor: '#gazette-down', section: 'Gazette', vote: 'down' },\n  { anchor: '#joke-up', section: 'Joke', vote: 'up' },\n  { anchor: '#joke-down', section: 'Joke', vote: 'down' }\n];\n\nfeedbackTracking.forEach(f => {\n  const url = `${baseUrl}/feedback-tracking?email=${encodeURIComponent(email)}&section=${f.section}&vote=${f.vote}`;\n  finalHtml = finalHtml.split(f.anchor).join(url);\n});\n\n// 3. RECIPE BUTTONS (Anchor replacement)\nconst recipeOptions = [\n  { anchor: '#recipe-going', vote: 'going' },\n  { anchor: '#recipe-liked', vote: 'liked' },\n  { anchor: '#recipe-disliked', vote: 'disliked' }\n];\n\nrecipeOptions.forEach(r => {\n  const url = `${baseUrl}/feedback-tracking?email=${encodeURIComponent(email)}&section=Recipe&vote=${r.vote}`;\n  finalHtml = finalHtml.split(r.anchor).join(url);\n});\n\n// 4. CLICK TRACKING\nconst clickUrl = `${baseUrl}/click-tracking?email=${encodeURIComponent(email)}`;\nfinalHtml = finalHtml.replace(/<a\\s+(?:[^>]*?\\s+)?href=\"([^#][^\"]*)\"/gi, (match, url) => {\n  if (url.startsWith('http') && !url.includes('unsubscribe') && !url.includes('tracking')) {\n    return match.replace(url, `${clickUrl}&url=${encodeURIComponent(url)}`);\n  }\n  return match;\n});\n\n// 5. Update Unsubscribe Link\nconst unsubUrl = `${baseUrl}/unsubscribe?email=${encodeURIComponent(email)}`;\nfinalHtml = finalHtml.replace(/##UNSUBSCRIBE_LINK##/g, unsubUrl);\n\nreturn { finalHtml, email };"
      },
      "id": "4",
      "name": "Prepare Test Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        700,
        200
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "to": "={{ $json.email }}",
        "subject": "={{ $node[\"Settings\"].json.emailSubject }}",
        "emailType": "html",
        "html": "={{ $json.finalHtml }}",
        "appendAttribution": false
      },
      "id": "5",
      "name": "Send Test Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        900,
        200
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2 account"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Settings": {
      "main": [
        [
          {
            "node": "Fetch HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch HTML": {
      "main": [
        [
          {
            "node": "Prepare Test Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Test Content": {
      "main": [
        [
          {
            "node": "Send Test Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}
