newsletter_tracking_workflow.json
{
  "name": "JC Savoy Newsletter - TRACKING & REDIRECTS (FINAL PRODUCTION)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "click-tracking",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-click",
      "name": "Webhook: Click Tracking",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        200
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "open-tracking",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-open",
      "name": "Webhook: Open Tracking",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        400
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "feedback-tracking",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-feedback",
      "name": "Webhook: Feedback Tracking",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        600
      ]
    },
    {
      "parameters": {
        "operation": "getMany",
        "documentId": {
          "__rl": true,
          "value": "18KYRnngYNcLaCpivRS5dXPm9Ryk7pngfvz5PoEhA44E",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Subscribers",
          "mode": "name"
        },
        "filters": {
          "conditions": [
            {
              "column": "Subscriber email",
              "operator": "equal",
              "value": "={{ $json.query.email }}"
            }
          ]
        },
        "options": {
          "returnAll": false,
          "limit": 1
        }
      },
      "id": "sheets-lookup",
      "name": "Google Sheets: Lookup Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        350,
        400
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const query = $node[\"Webhook: Click Tracking\"].json.query || $node[\"Webhook: Open Tracking\"].json.query || $node[\"Webhook: Feedback Tracking\"].json.query;\nconst currentData = $json;\nconst result = { \n  \"Subscriber email\": query.email, \n  type: query.url ? \"click\" : (query.section ? \"feedback\" : \"open\"),\n  url: query.url || \"\"\n};\n\nif (currentData && currentData[\"Subscriber email\"]) {\n    let col = \"\";\n    if (result.type === \"click\") col = \"Clicked\";\n    else if (result.type === \"open\") col = \"Opened\";\n    else {\n      const section = query.section.toLowerCase();\n      const vote = query.vote.toLowerCase();\n      if (section === \"joke\") col = (vote === \"up\") ? \"Joke: Liked\" : \"Joke: Disliked\";\n      else if (section === \"gazette\") col = (vote === \"up\") ? \"Gazette: Liked\" : \"Gazette: Disliked\";\n      else if (section === \"recipe\") {\n        if (vote === \"going\") col = \"Recipe: Going to Try\";\n        else if (vote === \"liked\") col = \"Recipe: Liked\";\n        else if (vote === \"disliked\") col = \"Recipe: Disliked\";\n      }\n      if (col) result[col] = (Number(currentData[col]) || 0) + 1;\n    }\n}\n\nreturn result;"
      },
      "id": "math-scoremaster",
      "name": "Math: Scoremaster",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        550,
        400
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "18KYRnngYNcLaCpivRS5dXPm9Ryk7pngfvz5PoEhA44E",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Subscribers",
          "mode": "name"
        },
        "columnToMatch": "Subscriber email",
        "valueToMatch": "={{ $json.email }}",
        "fieldsToUpdate": {
          "values": [
            {
              "column": "={{ Object.keys($json.columnsToUpdate)[0] }}",
              "value": "={{ Object.values($json.columnsToUpdate)[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "sheets-update",
      "name": "Google Sheets: Update Score",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        750,
        400
      ],
      "settings": {
        "onError": "continue"
      }
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectUrl": "={{ $node['Math: Scoremaster'].json.type === 'click' ? $node['Math: Scoremaster'].json.url : ($node['Math: Scoremaster'].json.type === 'open' ? 'https://raw.githubusercontent.com/jcsavoy/JC-Savoy-Newsletter/main/header-april-2026.png' : 'https://jcsavoy.com/feedback-thanks.html') }}",
        "options": {
          "responseCode": 302
        }
      },
      "id": "respond-all",
      "name": "Universal Redirector",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        950,
        400
      ]
    }
  ],
  "connections": {
    "Webhook: Click Tracking": {
      "main": [
        [
          {
            "node": "Google Sheets: Lookup Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Open Tracking": {
      "main": [
        [
          {
            "node": "Google Sheets: Lookup Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Feedback Tracking": {
      "main": [
        [
          {
            "node": "Google Sheets: Lookup Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets: Lookup Row": {
      "main": [
        [
          {
            "node": "Math: Scoremaster",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Math: Scoremaster": {
      "main": [
        [
          {
            "node": "Google Sheets: Update Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets: Update Score": {
      "main": [
        [
          {
            "node": "Universal Redirector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {}
}
